# 📝 Arquivos de log gerados durante o desenvolvimento
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 📦 Diretório de dependências do Node.js
node_modules/

# 🏗️ Diretórios de build (gerados após o build do projeto)
dist/
dist-ssr/

# ⚙️ Arquivos de configuração locais e sensíveis
*.local
.env  # Contém variáveis de ambiente como URLs e tokens

# 🧠 Configurações específicas de editores de código

# Visual Studio Code
.vscode/*               # Ignora todas as configs do VS Code
!.vscode/extensions.json  # Exceto recomendações de extensões

# JetBrains IDEs (WebStorm, IntelliJ, etc.)
.idea/

# macOS
.DS_Store

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln

# Arquivos temporários de editores (como Vim)
*.sw?

 